<div class="btn-group">
    <!--

        <app-action-button
            [btnClass]="'btn-info'"
            [icon]="faCoffee"
            (clicked)="onSelectButtonClick()">
        </app-action-button>
    -->
    <app-action-button
        [btnClass]="'btn-secondary'"
        [icon]="faEdit"
        (clicked)="onUpdateButtonClick()">
    </app-action-button>
    <app-action-button
        [btnClass]="'btn-danger'"
        [icon]="faTrash"
        (clicked)="onDeleteButtonClick()">
    </app-action-button>
</div>